
html, body {
    height: 100%;
    margin: 0;
  }
  
/*HEADER*/

/*DropDown Menu*/

#dropdown-menu {
  background-color: whitesmoke;
  border-radius: 5px;
  font-size: 1.5rem;
}

.dropdown-item{
  font-size: 1.5rem;
}

.btn-workout-plus {
  color: whitesmoke;
  width: 3rem;
  background: none;
  border: 3px solid whitesmoke;
  border-radius: 3rem;
  text-align: center;
}

  /*Calendar*/

  .calendar-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  #calendar {
    /*flex: 1 is short for /flex-grow: 1, flex-shrink: 1, flex-basis: 0)*/
    flex: 1; 
    display: flex;
    flex-direction: column;
  }